<html>
  <head>
    <title>Patient List</title>
  </head>
  <body>
    <div class='container'>
      <h1>New Patient</h1>
      <p>{{ newpatient.getName}}</p>
      <p><a href='/'>View patients.</a></p>
    </div>
  </body>
</html>
